@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
.header-nav {
  background-color: #DDDDDF;
  padding: 0.5rem;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.header-nav a {
  text-decoration: none;
  color: #6622CC;
}

@media (min-width: 48.75em) {
  .header-nav a {
    font-size: 1.5rem;
  }
}
@media (min-width: 90em) {
  .header-nav a:hover,
  .header-nav a:focus {
    color: #6622CC;
  }
}
#root {
  background-color: #DDDDDF;
}

.logo {
  width: 5rem;
}

h1 {
  color: #6622CC;
  margin: 1rem;
  text-align: center;
}

h2,
h3 {
  color: #6622CC;
  text-align: center;
}

body,
button {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
}

img {
  object-fit: cover;
}

a {
  color: #6622CC;
  text-decoration: none;
}

p {
  max-width: 80rem;
  line-height: 1.75rem;
  margin: 1rem;
}

.skip-link {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (min-width: 62.5em) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}
.main-home {
  background-color: #DDDDDF;
  padding-bottom: 2rem;
}

.home-banner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10rem 1.5rem 0rem;
  gap: 18rem;
}

.home-banner h1 {
  max-width: 20rem;
  font-size: 2.5rem;
  margin: 0;
}

.home-banner p {
  font-size: 1.25rem;
  margin: 0;
}

.dynamic-text {
  color: #6622CC;
}

.home-banner .mouse_scroll {
  margin: auto;
}

.projects-link {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 33.125em) {
  .home-banner-text {
    margin-left: 5rem;
  }
  .home-banner h1 {
    max-width: 25rem;
  }
}
@media (min-width: 48.75em) {
  .home-banner-text {
    margin-left: 10rem;
  }
  .home-banner p {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  .home-banner h1 {
    font-size: 3.5rem;
    max-width: 30rem;
  }
}
@media (min-width: 62.5em) {
  .home-banner-text {
    margin-left: 18rem;
  }
  .home-banner p {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 87em) {
  .home-banner-text {
    margin-left: 25rem;
  }
}
@media (min-width: 90em) {
  .home-banner-text {
    margin-left: 30rem;
  }
  .home-banner p {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 93.5em) {
  .home-banner-text {
    margin-left: 35rem;
  }
}
@media (min-width: 120em) {
  .home-banner-text {
    margin-left: 45rem;
  }
}
.home-projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  position: relative;
  overflow: hidden;
  margin: 2rem 1rem;
  padding: 8rem 2rem;
  max-width: 12rem;
  border-radius: 1rem;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 34, 204, 0.1450980392);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.project-overlay h3 {
  color: #000000;
}

.tools-used {
  color: #000000;
}

.project-card ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.project-card li {
  padding: 0.5rem;
}

.project-card h3 {
  text-align: center;
}

.project-card a {
  text-decoration: none;
}

.project-card:hover {
  transform: scale(1.05);
  transition: transform 0.3 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.desktop-image img {
  width: 12rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main h2 {
  margin-left: 0.5rem;
}

.main p {
  max-width: 60rem;
}

.about-intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-header {
  text-align: center;
}

.about-intro-section img {
  width: 16rem;
  margin: 1rem;
  border-radius: 2rem;
}

.skills-section img {
  width: 2rem;
}

.skills-elements {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1;
}

.skill-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem 1rem;
  justify-content: center;
}

.skills-card {
  border-radius: 2rem;
  color: #6622CC;
  position: relative;
  background: white;
  padding: 1rem;
  max-width: 420px;
}

.skills-card::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 64%);
  transform: translate3d(0px, 2px, 0) scale(0.99);
  filter: blur(14px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.skills-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.skills-card h3 {
  text-align: center;
}

.skills-card p {
  line-height: 1rem;
}

.interests-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.interest-image-container {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  transition: transform 0.3s ease;
}

.interest-image {
  display: block;
  width: 100%;
  max-width: 20rem;
  border-radius: 2rem;
  height: 35.573125rem;
  object-fit: cover;
}

.interests-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem;
}

.interest-image-container:hover {
  transform: translateY(-5px);
}

@media (min-width: 32.875em) {
  .skills-card:hover {
    transform: translateY(-5px); /* Move the card up slightly on hover */
    transition: transform 0.3s ease;
  }
  .main {
    margin: 0 2rem;
  }
}
@media (min-width: 40em) {
  .skills-elements {
    gap: 2rem;
  }
  .main {
    margin: 0 6rem;
  }
}
@media (min-width: 75.5em) {
  .skills-cards-section,
  .interests-images {
    justify-content: flex-start;
  }
  .main h2 {
    text-align: left;
  }
}
@media (min-width: 90em) {
  .main {
    margin: 0 8rem;
  }
  .about-intro-section {
    flex-direction: row;
    align-items: flex-start;
  }
  .about-intro-section p {
    margin-top: 1rem;
  }
  .skills-elements {
    gap: 2rem;
  }
}
.project-single-main {
  display: flex;
  flex-direction: column;
}

.single-projects-intro {
  display: flex;
  flex-direction: column;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.project-links a {
  background-color: #6622CC;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.project-links a:hover {
  background-color: #000000;
}

.single-desktop-image img,
.other-projects-section img {
  width: 100%;
  max-width: 34.375rem;
}

.single-project-images-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 0 0.75rem;
  margin-left: 1rem;
  justify-content: center;
}

.extras-section h3 {
  text-align: left;
  margin-left: 1rem;
}

.extras-section h3:hover {
  color: #000000;
}

.tools-used-list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
  color: #6622CC;
}

.tools-used-list li {
  list-style: none;
  font-weight: bold;
  font-style: italic;
  color: #6622CC;
}

.other-projects-section {
  margin: 1rem;
}

.other-projects-section h4 {
  text-align: center;
}

.other-projects-section ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  justify-content: center;
}

.other-projects-card {
  background-color: rgba(102, 34, 204, 0.1450980392);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  max-width: 12rem;
}

.other-projects-card:hover {
  transform: scale(1.05);
  transition: transform 0.3 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.other-projects-card h4,
.other-projects-card li {
  color: #000000;
}

.other-projects-all {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

@media (min-width: 40em) {
  .single-projects-intro {
    margin: 0 3rem;
  }
  .project-links {
    justify-content: center;
  }
  .project-links a {
    font-size: 1rem;
  }
}
@media (min-width: 50em) {
  .project-paragraph-section,
  .extras-section {
    margin: 0 5rem;
  }
}
@media (min-width: 90em) {
  .project-single-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .single-projects-intro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .project-paragraph-section,
  .extras-section {
    margin: 0 15rem;
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid;
  border-color: #6622CC;
  margin-top: 2rem;
}

footer ul {
  display: flex;
  gap: 1rem;
  padding: 0;
}

footer li {
  list-style: none;
}

.footer-left ul {
  flex-direction: row;
  align-items: center;
}

.icon,
.footer-logo {
  width: 2rem;
}

@media (min-width: 48.75em) {
  footer li {
    font-size: 1.75rem;
  }
  .icon,
  .footer-logo {
    width: 4rem;
  }
}
.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: solid #6622CC;
  border-bottom: solid #6622CC;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.one {
  margin-top: 1px;
}

.one, .two, .three {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.two {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.three {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #6622CC;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #6622CC;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #6622CC;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #6622CC;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
