@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
.logo {
  width: 5rem;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-left: 6rem;
}

.header-nav a {
  text-decoration: none;
  color: #0F0096;
}

@media (min-width: 48.75em) {
  .header-nav a {
    font-size: 1.5rem;
  }
}
@media (min-width: 90em) {
  .header-nav a:hover,
  .header-nav a:focus {
    color: #FF944C;
  }
}
body {
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
}

img {
  object-fit: cover;
}

a {
  color: #0F0096;
}

.home-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20rem;
}

.home-banner h1 {
  border-bottom: solid;
  border-color: #FF944C;
  padding-bottom: 0.5rem;
  max-width: 20rem;
  font-size: 2.5rem;
}

.home-banner p {
  font-size: 1.25rem;
}

.projects-link {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 33.125em) {
  .home-banner-text {
    margin-left: 5rem;
  }
  .home-banner h1 {
    max-width: 25rem;
  }
}
@media (min-width: 48.75em) {
  .home-banner-text {
    margin-left: 10rem;
  }
  .home-banner p {
    font-size: 1.75rem;
  }
  .home-banner h1 {
    font-size: 3.5rem;
    max-width: 30rem;
  }
}
@media (min-width: 62.5em) {
  .home-banner-text {
    margin-left: 25rem;
  }
  .home-banner h1 {
    font-size: 4rem;
  }
  .home-banner p {
    font-size: 2rem;
  }
}
@media (min-width: 90em) {
  .home-banner-text {
    margin-left: 30rem;
  }
}
@media (min-width: 93.5em) {
  .home-banner-text {
    margin-left: 40rem;
  }
}
@media (min-width: 120em) {
  .home-banner-text {
    margin-left: 45rem;
  }
}
.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card h3 {
  color: #0F0096;
}

.project-card::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 64%);
  transform: translate3d(0px, 2px, 0) scale(0.99);
  filter: blur(14px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.project-card {
  border-radius: 4rem;
  padding: 0 1rem 3rem 1rem;
  color: #0F0096;
  position: relative;
  background: white;
  width: 90%;
  max-width: 624.19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.project-card ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
}

.project-card li {
  background-color: #FF944C;
  color: #000;
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 5px 10px #888888;
}

.project-card h3 {
  text-align: center;
  padding: 0;
  font-size: 1.75rem;
}

.project-card a {
  text-decoration: none;
}

.project-images-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0rem;
}

.project-images-section img {
  border-radius: 1rem;
}

.desktop-image img {
  width: 12rem;
}

.mobile-image img {
  width: 3rem;
  height: 6.5rem;
}

.project-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project-links a {
  background-color: #0F0096;
  color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
}

.view-details-link {
  color: #0F0096;
}

@media (min-width: 30em) {
  .desktop-image img {
    width: 15rem;
    height: 16.198rem;
    object-fit: cover;
  }
  .mobile-image img {
    width: 7rem;
    height: 16.199rem;
  }
}
@media (min-width: 90em) {
  .home-main {
    align-items: flex-start;
  }
  .home-projects-section {
    flex-direction: row;
    align-content: center;
    margin: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
