@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
.header-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-left: 6rem;
}

.header-nav a {
  text-decoration: none;
  color: #0F0096;
}

@media (min-width: 48.75em) {
  .header-nav a {
    font-size: 1.5rem;
  }
}
@media (min-width: 90em) {
  .header-nav a:hover,
  .header-nav a:focus {
    color: #FF944C;
  }
}
.logo,
.icon {
  width: 5rem;
}

h2,
h3 {
  color: #0F0096;
}

body,
button {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
}

img {
  object-fit: cover;
}

a {
  color: #0F0096;
  text-decoration: none;
}

p {
  max-width: 70rem;
  line-height: 1.75rem;
}

.skip-link {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (min-width: 50em) {
  body {
    margin-left: 2rem;
  }
  p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
.home-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20rem;
}

.home-banner h1 {
  border-bottom: solid;
  border-color: #FF944C;
  padding-bottom: 0.5rem;
  max-width: 20rem;
  font-size: 2.5rem;
}

.home-banner p {
  font-size: 1.25rem;
}

.projects-link {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 33.125em) {
  .home-banner-text {
    margin-left: 5rem;
  }
  .home-banner h1 {
    max-width: 25rem;
  }
}
@media (min-width: 48.75em) {
  .home-banner-text {
    margin-left: 10rem;
  }
  .home-banner p {
    font-size: 1.75rem;
  }
  .home-banner h1 {
    font-size: 3.5rem;
    max-width: 30rem;
  }
}
@media (min-width: 62.5em) {
  .home-banner-text {
    margin-left: 25rem;
  }
  .home-banner h1 {
    font-size: 4rem;
  }
  .home-banner p {
    font-size: 2rem;
  }
}
@media (min-width: 90em) {
  .home-banner-text {
    margin-left: 30rem;
  }
}
@media (min-width: 93.5em) {
  .home-banner-text {
    margin-left: 40rem;
  }
}
@media (min-width: 120em) {
  .home-banner-text {
    margin-left: 45rem;
  }
}
.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.project-card h3 {
  color: #0F0096;
}

.project-card h3:hover,
.project-card h3:focus {
  color: #FF944C;
}

.project-card::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 64%);
  transform: translate3d(0px, 2px, 0) scale(0.99);
  filter: blur(14px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.project-card {
  border-radius: 4rem;
  padding: 0 1rem 3rem 1rem;
  color: #0F0096;
  position: relative;
  background: white;
  width: 90%;
  max-width: 624.19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.project-card ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.project-card li {
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.project-card h3 {
  text-align: center;
  padding: 0;
  font-size: 1.75rem;
}

.project-card a {
  text-decoration: none;
}

.project-images-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0rem;
}

.project-images-section img {
  border-radius: 1rem;
}

.desktop-image img {
  width: 12rem;
}

.mobile-image img {
  width: 3rem;
  height: 6.5rem;
}

.project-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.project-links a {
  background-color: #0F0096;
  color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
}

.project-links a:hover {
  background: #FF944C;
}

.view-details-link {
  color: #0F0096;
}

@media (min-width: 30em) {
  .desktop-image img {
    width: 15rem;
    height: 16.198rem;
    object-fit: cover;
  }
  .mobile-image img {
    width: 7rem;
    height: 16.199rem;
  }
}
@media (min-width: 90em) {
  .home-main {
    align-items: flex-start;
  }
  .home-projects-section {
    flex-direction: row;
    align-content: center;
    margin: 2rem;
    min-width: 490px;
  }
}
.skills-section img {
  width: 2rem;
}

.skills-elements {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem 1rem;
}

.skills-card {
  border-radius: 4rem;
  color: #0F0096;
  position: relative;
  background: white;
  padding: 1rem;
  max-width: 420px;
}

.skills-card::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 64%);
  transform: translate3d(0px, 2px, 0) scale(0.99);
  filter: blur(14px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.interests-section img {
  width: 20rem;
}

.interests-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 32.875em) {
  .skills-cards-section {
    justify-content: center;
  }
}
@media (min-width: 63.688em) {
  .skills-cards-section {
    justify-content: flex-start;
  }
}
.single-projects-intro {
  max-width: 48.875rem;
}

.single-desktop-image img {
  width: 100%;
  max-width: 34.375rem;
}

.single-mobile-image img {
  width: 100%;
  height: 87%;
  max-width: 12.813rem;
}

.single-project-images-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 0;
}

.single-project-images-section img {
  border-radius: 1rem;
}

.tab-navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tab-navigation button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.tab-navigation button.active {
  border-left: 2px solid #FF944C;
}

.tools-used-list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
}

.tools-used-list li {
  list-style: none;
  font-weight: bold;
  font-style: italic;
  color: #0F0096;
}

@media (min-width: 50em) {
  .single-project-mid-section {
    display: flex;
    flex-direction: column;
  }
  .tab-navigation {
    gap: 2rem;
  }
  .tab-navigation button {
    font-size: 1.5rem;
  }
}
@media (min-width: 90em) {
  .project-single-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .single-projects-intro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .single-project-top-section {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }
  .single-project-mid-section {
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
