@use "variables" as *;

.skills-section img {
    width: 2rem;
}

.skills-elements {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 2rem 1rem;
}

.skills-card {
    border-radius: 4rem;
    color: $accent-color;
    position: relative;
    background: white;
    padding: 1rem;
    max-width: 420px;
}

.skills-card::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 64% );
    transform: translate3d(0px, 2px, 0) scale(0.99);
    filter: blur(14px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

// Interests section
.interests-section img {
    width: 20rem;
}

.interests-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

}

@media (min-width:32.875em) {
    .skills-cards-section {
        justify-content: center;
    }
}

@media (min-width:63.688em) {
    .skills-cards-section {
        justify-content: flex-start;
    }
} 

