@use "variables" as *;

.home-banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20rem;
}

.home-banner h1 {
    border-bottom: solid;
    border-color: $secondary-color;
    padding-bottom: 0.5rem;
    max-width: 20rem;
    font-size: 2.5rem;
}

.home-banner p {
    font-size: 1.25rem;
}

.projects-link {
    display: flex;
    justify-content: center;
}



