@use "variables" as *;

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid;
    border-color: $secondary-color;
    margin-top: 2rem;
}

footer ul {
    display: flex;
    gap: 1rem;
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-left ul {
    flex-direction: row;
    align-items: center;
}

.icon,
.footer-logo {
    width: 2rem;
}

@media (min-width:48.75em) {

    footer li{
       font-size: 1.75rem;
    }

    .icon,
    .footer-logo {
    width: 4rem;
}

}