// Colors
$primary-color: #ffffff;
$secondary-color: #FF944C;
$accent-color: #0F0096;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
$font: "Poppins", sans-serif;