// Colors
$primary-color: #DDDDDF;
$secondary-color: #6622CC;
$accent-color: #6622CC;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
$font: "Poppins", sans-serif;